.headers {
  display: flex;
  flex-direction: row;
  border-bottom: 0.2px solid;
}

.sheets > * {
  display: flex;
  justify-content: center;
  justify-items: center;
  border-bottom: 0.2px solid;
  margin-top: 15px;
}

.sheet-1 {
  margin-left: 5px !important;
}

