body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-wrapper,
.template-buttons {
  display: grid;
  justify-content: center;
  align-items: center;
}

.template-buttons {
  gap: 10px;
  grid-auto-flow: column;
}
