:root {
  --main-primary-color: #647aa3;
  --main-text-color: #e0ddcf;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

.info-heading {
  width: 90vw;
}

.info-wrapper > * {
  display: grid;
  justify-content: center;
  align-items: center;
}

.template-buttons {
  gap: 10px;
  grid-auto-flow: column;
}

.btn {
  background-color: var(--main-primary-color) !important;
  color: var(--main-text-color) !important;
}

.btn:hover {
  background-color: var(--main-primary-color) !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
