@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url(variables.css);

/* Global styles */
body {
  background-color: var(--bg-color-primary) !important;
  color: var(--text-color-primary) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

.content {
  width: calc(100vh - var(--navbar-width));
}

#sheetDisplays {
  width: max-content;
}

/* Scrollbar styles. */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color-primary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Summary styles */
.summary-title {
  border-bottom: 2px solid var(--bg-color-secondary);
}

.summary-text {
  line-height: 1.6 !important;
  text-align: justify;
}
