/* Global styles */

@import url(variables.css);

body {
  background-color: var(--bg-color-primary) !important;
  color: var(--text-color-primary) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
}

.content {
  width: calc(100vh - 250px);
}
