@import url(../variables.css);

.btn {
  background-color: var(--btn-color-primary) !important;
  color: var(--text-color-primary) !important;
}

.btn:hover {
  background-color: var(--btn-color-hover) !important;
  box-shadow: 1px 1px var(--btn-color-hover);
}

.btn-create {
  margin: 20px 15px;
  float: right;
}

.fa-arrow-right {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0px 20px 15px 0px;
  bottom: 0;
  right: 0;
}

.fa-arrow-left {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 20px 0px 0px 20px;
  top: 0;
  left: 0;
}

#showColumnNames:hover,
#previousView:hover {
  cursor: pointer;
}
