@import url(../variables.css);

.drag-drop-container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--bg-color-secondary);
  border-radius: var(--container-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-drop-label:hover {
  cursor: pointer;
}

.warning {
  font-size: 0.875em;
}
