@import url(../variables.css);

p {
  font-weight: 900;
}

.navbar {
  flex-direction: row;
  row-gap: 30rem;
  height: 100vh;
  width: var(--navbar-width) !important;
  z-index: 1;
  float: left;
  left: 0;
  top: 0;
  background-color: var(--bg-color-secondary);
  overflow: hidden;
  padding-bottom: 15.5rem !important;
}

.top {
  top: 0;
}

.logo {
  width: 12vw;
  height: 12vh;
}

.btn-nav {
  color: var(--btn-color-primary) !important;
}

.nav-text {
  font-family: 'Nunito', sans-serif !important;
  color: var(--text-color-secondary);
}

a,
a:hover {
  text-decoration: none;
}
