@import url(../variables.css);

.headers {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.2px solid;
}

.sheet-display {
  position: relative;
  width: var(--container-width);
  height: calc(var(--container-height) * 2);
  background-color: var(--bg-color-secondary);
  border-radius: var(--container-radius);
  padding-top: 40px;
}

.sheets > * {
  display: flex;
  justify-content: center;
  justify-items: center;
  border-bottom: 0.2px solid;
  margin-top: 15px;
}

.form-check {
  display: flex !important;
}

.sheet-1 {
  margin-left: 5px !important;
}

.fa-arrow-right {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0px 20px 15px 0px;
  bottom: 0;
  right: 0;
}

.btn-create {
  position: absolute;
  margin: 0px 20px 15px 0px;
  bottom: 0;
  right: 0;
}

.column-names {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.new-sheet-name-wrapper {
  margin-top: 5rem;
}

#newSheetName {
  width: 230px;
}
